
@font-face {
    font-family: "MyFont";
    src: url("./UNBangla-ThinItalic.ttf") format("truetype");
}
body {
    margin: 0;
    font-family: Arial, sans-serif;

    background-image: url("https://images.unsplash.com/photo-1521292270410-a8c4d716d518?auto=format&fit=crop&w=1600&q=80");

    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    color: white;
}



.container {
    width: 90%;
    max-width: 1000px;
    margin: 40px auto;
}




.header {
    text-align: center;

    background: rgba(0, 0, 0, 0.75);

    border: 4px solid white;
    border-radius: 15px;

    padding: 25px;

    box-shadow: 0 0 20px black;
}

.header h1 {
    margin: 0;

    color: #00ff88;

    font-size: 40px;

    text-shadow: 3px 3px 5px black;
}

.header p {
    font-size: 18px;
    color: #ffffff;
}




.bangladesh-section {

    margin-top: 35px;

    background: rgba(0, 0, 0, 0.80);

    border: 5px solid #006a4e;
    border-radius: 20px;

    padding: 30px;

    text-align: center;
}

.bangladesh-section h2 {
    color: #00a86b;

    font-size: 32px;

    text-shadow: 2px 2px 4px black;
}




.bangladesh-flag {

    width: 500px;
    height: 300px;

    background: #006a4e;

    margin: 30px auto;

    border: 8px solid white;

    position: relative;

    box-shadow: 0 0 20px black;
}

.bangladesh-circle {

    width: 150px;
    height: 150px;

    background: #f42a41;

    border-radius: 50%;

    position: absolute;

    top: 75px;
    left: 155px;
}


.anthem {

    margin-top: 30px;

    background: rgba(0, 106, 78, 0.75);

    border: 3px dashed #ffffff;

    padding: 25px;

    border-radius: 15px;
}

.anthem h3 {

    color: #ffcc00;

    font-size: 27px;

    text-decoration: underline;
    font-family: MyFont;
}

.anthem p {

    font-size: 20px;

    line-height: 1.8;

    color: white;

    text-align: center;
}


.argentina-section {

    margin-top: 40px;

    background: rgba(0, 0, 0, 0.80);

    border: 5px solid #74acdf;

    border-radius: 20px;

    padding: 30px;

    text-align: center;
}

.argentina-section h2 {

    color: #74acdf;

    font-size: 32px;

    text-shadow: 2px 2px 4px black;
}


.argentina-flag {

    width: 500px;
    height: 300px;

    margin: 30px auto;

    border: 8px solid white;

    box-shadow: 0 0 20px black;

    background: #74acdf;

    position: relative;
}

.argentina-white {

    width: 100%;
    height: 100px;

    background: white;

    position: absolute;

    top: 100px;
    left: 0;
}

.argentina-sun {

    width: 70px;
    height: 70px;

    background: #f6b40e;

    border: 4px solid #d99a00;

    border-radius: 50%;

    position: absolute;

    top: 115px;
    left: 215px;

    box-shadow: 0 0 10px #d99a00;
}



.footer {

    margin-top: 40px;

    background: rgba(0, 0, 0, 0.85);

    border: 3px solid white;

    border-radius: 15px;

    text-align: center;

    padding: 20px;
}

.footer h3 {

    color: #00ff88;

    margin: 0;
}

.footer p {

    color: #cccccc;

    margin-bottom: 0;
}

